@import '../../../styles/size.scss';

.stage {
	width: 100%;
	height: $stage-height;
	margin: 0 auto;
	overflow-y: auto;
	scroll-behavior: smooth;

	&__container {
		padding: 0 30px;
	}

	@media (max-width: 644px) {
		height: calc(#{$stage-height} - 56px);
	}

	@media (max-width: 437px) {
		height: calc(#{$stage-height} - 113px);
	}
}