@import './colors.scss';

@mixin link-effects($color) {
	transition: color .2s;
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
		color: darken($color, 15%);
	}

	&:active {
		color: darken($color, 20%);
	}
}

@mixin link-effects-border($color) {
	transition: color .2s, border-color .2s;
	border-bottom: 1px solid $color;
	cursor: pointer;

	&:hover {
		border-color: darken($color, 15%);
		color: darken($color, 15%);
	}

	&:active {
		border-color: darken($color, 20%);
		color: darken($color, 20%);
	}
}

@mixin button-effects($background-color, $color) {
	transition: background-color .2s, color .2s;
	cursor: pointer;

	&:hover {
		color: darken($color, 7%);
		background-color: darken($background-color, 7%);
	}

	&:active {
		color: darken($color, 10%);
		background-color: darken($background-color, 10%);
	}
}

@mixin export-button-effects($background-color, $color) {
	transition: background-color .2s, color .2s;
	cursor: pointer;

	&:hover {
		color: darken($color, 4%);
		background-color: darken($background-color, 4%);
	}

	&:active {
		color: darken($color, 6%);
		background-color: darken($background-color, 7%);
	}
}

@mixin cancel-button-effects() {
	cursor: pointer;

	path {
		transition: stroke .2s;
	}

	&:hover {
		path {
			stroke: darken($cancel-color, 15%);
		}
	}

	&:active {
		path {
			stroke: darken($cancel-color, 20%);
		}
	}
}
