@import '../../styles/colors.scss';

.search-bar-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 36px;
	max-width: 460px;
	border-bottom: 1px solid $grey;
	transition: border-color .2s;

	&__input {
		height: 100%;
		width: calc(100% - 30px);
		color: $grey;
		font-size: 18px;
		border: none;
		outline: none;
		transition: color .2s;
	}

	&--invalid {
		border-color: $red;

		.search-bar-container__input {
			color: $red;
		}

		.lens-icon {
			path, line {
				stroke: $red;
			}
		}
	}

	&--searching {
		@keyframes searching-transform {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(0.7);
			}
			100% {
				transform: scale(1);
			} 
		}
		@keyframes searching-color {
			0% {
				stroke: $grey;
			}
			50% {
				stroke: $blue;
			}
			100% {
				stroke: $grey;
			} 
		}

		.lens-icon {
			animation-name: searching-transform;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;

			path, line {
				animation-name: searching-color;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
			}
		}
	}

	&:not(.search-bar-container--invalid) {
		.lens-icon {
			&:hover {
				path, line {
					stroke: $black;
				}
			}
	
			&:active {
				path, line {
					stroke: $dark-black;
				}
			}
		}
	}

	.lens-icon {
		width: 22px;
		height: 20px;
		margin-left: 3px;
		cursor: pointer;

		path, line {
			transition: stroke .2s;
		}
	}
}