@import '../../styles/colors.scss';

.search-bar-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 36px;
	max-width: 460px;
	border-bottom: 1px solid $grey;
	transition: border-color .2s;

	&__input {
		height: 100%;
		width: calc(100% - 30px);
		color: $grey;
		font-size: 18px;
		border: none;
		outline: none;
		transition: color .2s;
	}

	.lens-icon {
		width: 22px;
		height: 20px;
		margin-left: 3px;
		cursor: pointer;

		path, line {
			transition: stroke .2s;
		}

		&:hover {
			path, line {
				stroke: $black;
			}
		}

		&:active {
			path, line {
				stroke: $dark-black;
			}
		}
	}
}