@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/size.scss';

.header-container {
	position: relative;
	display: flex;
	margin-bottom: $header-margin;

	@media(max-width: #{$min-checkpoint}) {
		margin-bottom: $header-margin-min;
	}

	&__back-button {
		display: flex;
		align-items: center;
		margin-right: 12px;
		color: $grey;
		transition: color .2s;

		&:not(.header-container__back-button--disabled) {
			&:hover {
				color: darken($grey, 15%);
			}
	
			&:active {
				color: darken($grey, 20%);
			}
	
			.back-icon {
				path {
					transition: stroke .2s;
				}
			}
		}

		&--disabled {
			opacity: 0.4;
			cursor: default;

			&:hover {
				color: $grey;
			}
		}

		@media (max-width: #{$extra-min-checkpoint}) {
			display: none;
		}
	}

	&__address-explanation {
		width: max-content;
		margin-top: 20px;
		font-size: 16px;
		color: $light-blue;

		@include link-effects($light-blue);
	}

	&__settings-bar {
		padding-left: 12px;

		.options-list {
			height: $header-height;
			width: max-content;
			min-width: max-content;
			padding: 0 8px;
			border-radius: 50%;

			&__list {
				left: auto;
				right: 0;
			}
	
			.arrow-icon {
				display: none;
			}
	
			.network-icon {
				margin: 0;
			}
		}
	}
}