@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/size.scss';

.header-container {
	position: relative;
	display: flex;
	margin-bottom: $header-margin;

	@media(max-width: #{$min-checkpoint}) {
		margin-bottom: $header-margin-min;
	}

	&__back-button {
		display: flex;
		align-items: center;
		margin-right: 12px;
		color: $grey;
		transition: color .2s;

		&:not(.header-container__back-button--disabled) {
			&:hover {
				color: darken($grey, 15%);
			}
	
			&:active {
				color: darken($grey, 20%);
			}
	
			.back-icon {
				path {
					transition: stroke .2s;
				}
			}
		}

		&--disabled {
			opacity: 0.4;
			cursor: default;

			&:hover {
				color: $grey;
			}
		}

		@media (max-width: #{$extra-min-checkpoint}) {
			display: none;
		}
	}

	&__address-explanation {
		width: max-content;
		margin-top: 20px;
		font-size: 16px;
		color: $light-blue;

		@include link-effects($light-blue);
	}

	&__settings-bar {
		display: flex;
		align-items: center;
		padding-left: 12px;

		.options-list {
			justify-content: center;
			height: $header-height;
			width: 36px;
			min-width: 36px;
			margin-left: 8px;
			padding: 0;
			border-radius: 50%;

			&__list {
				left: auto;
				right: 0;

				&-item {
					position: relative;
					text-align: center;
				}
			}

			&__selected-item {
				.network-icon {
					margin: 0;
				}
			}

			&:first-child {
				margin-left: 0px;
			}
	
			.arrow-icon {
				display: none;
			}

			.selected-text-item {
				font-size: 22px;
    			line-height: 22px;
				font-weight: 600;
			}

			.header-container__add-account-button {
				margin: 4px 0 8px;
				text-align: center;
			}
		}
	}

	&__add-account-button {
		margin-left: 8px;
		font-weight: 600;
		font-size: 16px;
		color: $blue;
		cursor: pointer;
		transition: color .2s;

		&:hover {
			color: $light-blue;
		}

		&:active {
			color: $dark-blue;
		}
	}
}