@import '../../styles/colors.scss';
@import '../../styles/size.scss';

.control-with-popup {
	position: relative;
	height: max-content;
	margin-right: 20px;

	&__label {
		font-weight: 600;
		font-size: 18px;
		color: $blue;
		cursor: pointer;
		transition: color .2s;

		&:hover {
			color: $light-blue;
		}
	}

	&--active {
		.control-with-popup__label {
			color: $dark-blue;

			&:hover {
				color: $dark-blue;
			}
		}
	}

	&:last-child {
		margin-right: 0;
	}


	@media(max-width: 490px) {
		width: 100%;
		min-width: 100%;

		.control-with-popup__container {
			width: 100%;
		}
	}

	&__container {
		--height: 252px;
		--width: 460px;
		position: absolute;
		z-index: 10;
		visibility: hidden;
		opacity: 0;
		right: 0;
		bottom: calc(0px - var(--height));
		height: var(--height);
		width: var(--width);
		background-color: $white;
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		transition: opacity .2s, bottom .2s;
		overflow: auto;
		cursor: default;

		&--visible {
			visibility: visible;
			opacity: 1;
			bottom: calc(-8px - var(--height));
		}
	}
}